.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;

  /* border 겹치도록 */
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.board-row {
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
